## Anualizar una tasa
##### (1 + Retorno)^12 - 1

In [1]:
def anualizar_tasa(tasa_de_un_periodo, n_periodos=12):
    """
    Anualizo la tasa de ganancia de un período. Ingresar el porcentaje como número entero.
    """
    tasa_anualizada = ((1 + tasa_de_un_periodo / 100) ** n_periodos) - 1
    return tasa_anualizada

In [2]:
tasa_de_un_periodo = 5
n_periodos = 12

In [3]:
tasa_anualizada = anualizar_tasa(tasa_de_un_periodo, n_periodos)
print('La tasa anualizada de', tasa_de_un_periodo, '% es:', round(tasa_anualizada * 100, 3), '%')

La tasa anualizada de 5 % es: 79.586 %

---

## Anualizar un retorno
##### (1 + (capital_final - capital_inicial) / 100)^12 - 1

In [4]:
def anualizar_retorno(capital_inicial, capital_final, n_periodos=12):
    """
    Anualizo el retorno a partir de la diferencia entre capital inicial y 
    capital final de 1 perído, por la cantidad de períodos equivalentes.
    """
    ganancia_nominal = capital_final - capital_inicial
    rendimiento = ganancia_nominal / 100
    tasa_anualizada = ((1 + rendimiento) ** n_periodos) - 1
    return tasa_anualizada

In [5]:
capital_inicial = 100
capital_final = 103
n_periodos = 12

In [6]:
tasa_anualizada = anualizar_retorno(capital_inicial, capital_final, n_periodos)
print('La tasa anualizada del retorno es del', round(tasa_anualizada * 100, 3), '%')

La tasa anualizada del retorno es del 42.576 %

---

## Tasa Real
##### Para saber la tasa real tengo que saber cuál es la tasa nominal y cuál es la tasa del poder adquisitivo (inflación).
#### 1 + Tasa Real = (1 + Tasa Nominal) / (1 + Inflación)

In [7]:
def obtener_tasa_real(tasa_nominal, tasa_inflacion):
    """
    tengo la tasa nominal que modificó el precio de un activo.
    tengo la tasa de inflación en el mismo período.
    obtengo la diferencia entre ambos. El precio del activo tiene una modificación en relación al poder adquisitivo.
    """
    tasa_real = ((1+tasa_nominal/100) / (1+tasa_inflacion/100))-1
    return tasa_real

In [8]:
tasa_nominal = 6.6
tasa_inflacion = 9

In [9]:
tasa_real = obtener_tasa_real(tasa_nominal, tasa_inflacion)
print('La tasa real es de', round(tasa_real * 100, 3), '%')

La tasa real es de -2.202 %

---

# Tasa Efectiva Anual
##### primero obtengo la Tasa Directa y después la Tasa Efectiva Anual
###### ([1+(TNA/tiempo)]^ tiempo ) -1

In [10]:
tasa_nominal_anual = 97
tiempo = 30
total_tiempo = 365

In [11]:
def obtener_tasa_directa(tasa_nominal_anual, tiempo=30, total_tiempo=365):
    """
    Tasa Directa: una tasa de interés o rendimiento que se expresa de manera directa y no está sujeta a ajustes o conversiones.
    Obtengo la tasa directa tomando la tasa nominal anual, ponderando el tiempo
    """
    tasa_directa = tasa_nominal_anual/100 * tiempo / total_tiempo
    return tasa_directa

In [12]:
tasa_directa = obtener_tasa_directa(tasa_nominal_anual, tiempo, total_tiempo)
tasa_directa
print('La tasa directa para una tasa nominal anual de',  tasa_nominal_anual, '% mensual es de', round(tasa_directa * 100, 3), '%')

La tasa directa para una tasa nominal anual de 97 % mensual es de 7.973 %

In [13]:
def obtener_tasa_efectiva_anual(tasa_nominal_anual, tiempo=30, total_tiempo=365):
    """
    La tasa efectiva anual (TEA) es una medida que indica la tasa de interés o rendimiento real de una inversión durante un año, 
    teniendo en cuenta la capitalización compuesta.
    es (1 + tasa directa ** tiempo)-1
    """
    tasa_directa = obtener_tasa_directa(tasa_nominal_anual, tiempo, total_tiempo)
    tasa_efectiva_anual = ((1 + tasa_directa) ** ((total_tiempo / tiempo)) - 1)
    return tasa_efectiva_anual

In [14]:
tasa_efectiva_anual = obtener_tasa_efectiva_anual(tasa_nominal_anual, tiempo, total_tiempo)
print('La tasa efectiva anual para una tasa nominal de',  tasa_nominal_anual, '% mensual es de', round(tasa_efectiva_anual * 100, 3), '%')

La tasa efectiva anual para una tasa nominal de 97 % mensual es de 154.282 %

---

## Un ejemplo usando pandas y datos descargados de FVX

In [15]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
# pd.options.display.float_format = '{:.6f}'.format

path = 'data/'

In [16]:
df = pd.read_pickle(path + '20230526_1642_^FVX_227.pkl')
df.shape

(15363, 7)

In [17]:
df.head()

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
1962-01-02  3.88  3.88  3.88   3.88       0          0             0
1962-01-03  3.87  3.87  3.87   3.87       0          0             0
1962-01-04  3.86  3.86  3.86   3.86       0          0             0
1962-01-05  3.89  3.89  3.89   3.89       0          0             0
1962-01-08  3.91  3.91  3.91   3.91       0          0             0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 15363 entries, 1962-01-02 to 2023-05-26
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          15363 non-null  float64
 1   High          15363 non-null  float64
 2   Low           15363 non-null  float64
 3   Close         15363 non-null  float64
 4   Volume        15363 non-null  int64
 5   Dividends     15363 non-null  int64
 6   Stock Splits  15363 non-null  int64
dtypes: float64(4), int64(3)
memory usage: 960.2 KB

In [19]:
df.tail()

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2023-05-22  3.739  3.787  3.718  3.767       0          0             0
2023-05-23  3.808  3.826  3.739  3.748       0          0             0
2023-05-24  3.734  3.822  3.734  3.782       0          0             0
2023-05-25  3.812  3.896  3.786  3.896       0          0             0
2023-05-26  3.887  3.990  3.868  3.938       0          0             0

In [20]:
# Datos Hoy (26/05/2023)
df.iloc[-1]

Open            3.887
High            3.990
Low             3.868
Close           3.938
Volume          0.000
Dividends       0.000
Stock Splits    0.000
Name: 2023-05-26 00:00:00, dtype: float64

In [21]:
# Datos 30 días antes (26/04/2023)
df.iloc[-23]

Open            3.466
High            3.524
Low             3.423
Close           3.480
Volume          0.000
Dividends       0.000
Stock Splits    0.000
Name: 2023-04-26 00:00:00, dtype: float64

In [22]:
# Para obtener la cantidad de días de diferencia
dias_dif = (df.iloc[-1].name - df.iloc[-23].name).days
dias_dif

30

In [23]:
cierre_hoy = df.iloc[-1]['Close']
cierre_30_dias = df.iloc[-23]['Close']
diferencia_nominal = cierre_hoy - cierre_30_dias
diferencia_nominal

0.45800018310546875

In [24]:
tasa_anualizada = anualizar_retorno(capital_inicial=cierre_30_dias, capital_final=cierre_hoy, n_periodos=365/dias_dif)
print('La tasa anualizada del retorno es del', round(tasa_anualizada * 100, 3), '%')

La tasa anualizada del retorno es del 5.717 %